/* Réinitialisation des marges, des rembourrages et de la boîte */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles généraux du corps */
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(background.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

/* Conteneur principal */
.container {
  width: 450px;
  height: auto;
  min-height: 400px;
  padding: 30px;
  background: transparent;
  border: 2px solid #130a66;
  border-radius: 10px;
  backdrop-filter: blur(15px); /* Effet de flou pour améliorer le contraste */
}

/* Titre */
h1 {
  color: #130a66;
  text-align: center;
  margin-bottom: 36px;
}

/* Conteneur pour l'entrée de tâche et le bouton d'ajout */
.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

/* Entrée de tâche */
.todo-input {
  flex: 1;
  outline: none;
  padding: 10px 10px 10px 20px;
  background-color: transparent;
  border: 2px solid #130a66;
  border-radius: 30px;
  color: #130a66;
  font-size: 16px;
  margin-right: 10px;
}

.todo-input::placeholder {
  color: #130a66;
}

/* Bouton d'ajout */
.add-button {
  border: none;
  outline: none;
  background: #130a66;
  color: #09bb21;
  font-size: 35px;
  cursor: pointer;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  margin-left: 5%;
}

/* Image vide */
.empty-image {
  margin: 55px auto 0;
  display: block;
}

/* Tâche individuelle */
.todo {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 12px;
  border: 2px solid #130a66;
  transition: all 0.2s ease;
}

/* Calendrier */
#calendrier {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 12px;
  border: 2px solid #130a66;
  transition: all 0.2s ease;
}

/* Première et dernière tâche */
.todo:first-child {
  margin-top: 0;
}

.todo:last-child {
  margin-bottom: 0;
}

/* Survolez la tâche pour le style */
.todo:hover {
  background-color: c; /* Il semble manquer une valeur ici */
}

/* Étiquette de la tâche */
.todo label {
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #130a66;
}

/* Span dans l'étiquette de la tâche */
.todo span {
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}

/* Pseudo-élément pour la case à cocher */
span::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  margin-left: -30px;
  border-radius: 100px;
  border: 2px solid #130a66;
}

/* Masquer la case à cocher */
input[type="checkbox"] {
  visibility: hidden;
}

/* Style de la case cochée */
input:checked + span {
  text-decoration: line-through;
}

/* Style de la case cochée lorsque survolée */
.todo:hover input:checked + span::before,
input:checked + span::before {
  background: url(./check.jpg) 50% 50% no-repeat #09bb21;
  border-color: #09bb21;
}

/* Style de la case cochée lorsque survolée */
.todo:hover span::before {
  border-color: #eee;
}

/* Bouton de suppression */
.todo .delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #d61515;
  font-size: 24px;
}

/* Conteneur des tâches avec défilement */
.todos-container {
  height: 300px;
  overflow: overlay;
}

/* Barre de défilement personnalisée */
.todos-container::-webkit-scrollbar-track {
  background: rgb(247, 247, 247);
  border-radius: 20px;
}

.todos-container::-webkit-scrollbar {
  width: 0;
}

.todos-container:hover::-webkit-scrollbar {
  width: 7px;
}

.todos-container::-webkit-scrollbar-thumb {
  background: #691313;
  border-radius: 20px;
}

/* Filtres */
.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-left: 10px;
}

/* Filtre actif ou survolé */
.filter {
  color: #130a66;
  padding: 5px 15px;
  border-radius: 100px;
  border: 2px solid #130a66;
  transition: all 0.2s ease;
  cursor: pointer;
}

/* Filtre actif ou survolé */
.filter.active,
.filter:hover {
  background-color: #09bb21;
}

/* Bouton de suppression de tout */
.delete-all {
  display: flex;
  color: #d61515;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Style survolé du bouton de suppression de tout */
.delete-all:hover {
  border-radius: 5px;
  background-color: #130a66;
}
